@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

@theme {
  --color-base-white: #f8fafc;
  --color-surface: #d9eafd;
  --color-primary: #9aa6b2;
  --color-primary-hover: #bcccdc;
  --color-text-heading: #2e2e2e;
  --color-border: #bcccdc;
}

@layer base {
  body {
    background: linear-gradient(180deg, #d9eafd 30%, #f8fafc 100%);
    /* @apply bg-surface; */
  }

  header {
    @apply fixed;
  }

  main {
    background: linear-gradient(180deg, #d9eafd 30%, #f8fafc 100%);
    font-family: "Manrope", sans-serif;
    @apply flex min-w-screen items-center;
  }

  section {
    @apply max-w-[1200px] w-full min-h-[80vh] flex py-30 flex-col;
  }

  span {
    @apply text-text-heading font-semibold;
  }

  footer {
    @apply w-full flex justify-center;
  }

  a {
    @apply flex flex-col;
  }

  .wrapper {
    @apply w-full min-h-dvh flex py-10 px-20 flex-col;
  }

  .div-wrapper {
    @apply p-5 rounded-md;
  }
  .hero-gradient {
    background: linear-gradient(180deg, rgba(248, 250, 252, 0.2) 0%, rgba(217, 234, 253, 1) 90%);
  }
}
