@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

@theme {
  --color-base-white: #f8fafc;
  --color-surface: #d9eafd;
  --color-primary: #9aa6b2;
  --color-primary-hover: #bcccdc;
  --color-text-heading: #2e2e2e;
  --color-border: #bcccdc;

  --font-header: "Manrope", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  body {
    background: linear-gradient(180deg, #d9eafd 30%, #f8fafc 100%);
    /* @apply bg-surface; */
  }

  header {
    @apply fixed;
  }

  main {
    background: linear-gradient(180deg, #d9eafd 30%, #f8fafc 100%);
    @apply flex min-w-screen items-center font-poppins;
  }

  section {
    @apply max-w-[1200px] w-full min-h-[80vh] flex py-30 flex-col;
  }

  span {
    @apply text-text-heading font-semibold;
  }

  footer {
    @apply w-full flex justify-center;
  }

  a {
    @apply flex flex-col;
  }

  h1,h2,h3,h4,h5,h6 {
    @apply font-header font-semibold;
  }

  .wrapper {
    @apply w-full min-h-dvh flex py-10 px-20 flex-col;
  }

  .div-wrapper {
    @apply p-5 rounded-md;
  }
  .hero-gradient {
    background: linear-gradient(180deg, rgba(248, 250, 252, 1) 50%, rgba(217, 234, 253, 1) 100%);
  }
}
